---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { SeriesGroup } from '~/utils'
import PageHeader from '~/components/PageHeader.astro'
import PostPreview from '~/components/PostPreview.astro'
import { uiText } from '~/i18n'

export const getStaticPaths = (async () => {
  const seriesGroup = await SeriesGroup.build()
  return seriesGroup.collations.map((series) => {
    return {
      params: { slug: series.titleSlug },
      props: { posts: series.entries, seriesTitle: series.title },
    }
  })
}) satisfies GetStaticPaths

const { posts, seriesTitle } = Astro.props
---

<Layout
  title={`Series: ${seriesTitle}`}
  description={uiText.descriptions.seriesPosts(seriesTitle)}
>
  <div class="mt-2 sm:mt-0">
    <PageHeader title="Series" subtitle={seriesTitle} />
    {posts.map((post) => <PostPreview post={post} />)}
  </div>
</Layout>
